<?xml version="1.0"?>
<config>
	<modules>
		<Ip_Ordermanager>
			<version>0.0.1</version>
		</Ip_Ordermanager>
	</modules>
	<global>
        <models>
            <ordermanager>
                <class>Ip_Ordermanager_Model</class>
            </ordermanager>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Ip_Ordermanager_Block_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ip_Ordermanager before="Mage_Adminhtml">Ip_Ordermanager_Adminhtml</Ip_Ordermanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
<!--     <adminhtml>
        <translate>
            <modules>
                <Ip_Ordermanager>
                    <files>
                        <default>Ip_Ordermanager.csv</default>
                    </files>
                </Ip_Ordermanager>
            </modules>
        </translate>
        <default>
            <ordermanager>
                <condition_name>order_export</condition_name>
            </ordermanager>
        </default>
    </adminhtml> -->
</config>